<!DOCTYPE html>
<html>
<head>
  <title>Log In</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  
    
  <form action="/login" method="POST" class="login-register-form">
    <!--Displays login error messages-->
    <% if (typeof error !== 'undefined') { %>
      <div style="background-color: #FFA69E; color: black;"><%= error %></div>
    <% } %>
    <h1>Login</h1>
    <label>Email:</label>
    <input type="email" name="email" required/><br/>
    <label>Password:</label>
    <input type="password" name="password" required/><br/>
    <button type="submit">Log In</button>

    <p>Don't have an account? Register <a href="/register">here</a></p>
  </form>
  
</body>
</html>