<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
    
  <form action="/login" method="POST" class="login-register-form">
    <h1>Login</h1>
    <label>Email:</label>
    <input type="email" name="email" required/><br/>
    <label>Password:</label>
    <input type="password" name="password" required/><br/>
    <button type="submit">Log In</button>
  </form>
  
</body>
</html>