:root {
    --Melon: #FFA69E;
    --Brunswick-green: #0F433B;
    --Xanthous: #FFC759;
    --Tea-green: #CCF3BA;
    --Baby-powder: #fffffc;
  }




.login-register-form, table, .faqBox{
  padding: 8px;
  border-radius: 16px;
  width: 90%;
  background-color: var(--Brunswick-green);
  color: var(--Baby-powder);
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  font-size: 16px;
}

input[type="radio"] {
  accent-color: var(--Xanthous);
}
.faqBox p{
  text-indent: 15px;
}

form input{
  margin-bottom: 8px;
}

.login-register-form{
  max-width: 400px;
}

.searchbar, table, .faqBox{
  max-width: 800px;
  margin-bottom: 16px;
  margin: 16px;
}

.searchbar{
  align-self: center;
  width: 600px;
  border-radius: 16px;
  font-family: 'Roboto', 'sans-serif';
  accent-color: var(--Xanthous);
  padding: 8px;
  border-width: 2px;
  border-color: var(--Brunswick-green);
}

th, td {
  border: 2px solid #0d302a;
  text-align: left;
}

body{
  font-family: 'Roboto', 'sans-serif';
  display: flex;
  background: url('/images/background-image.png') repeat, var(--Tea-green);
  background-size: 100px 100px;
  min-height: 100vh;
  margin: 0; 
}

a {
  color: var(--Xanthous);
}

caption{
  background-color: var(--Melon);
  color: var(--Brunswick-green);
}

.navbar{
  background-color: var(--Brunswick-green);
  color: var(--Baby-powder);
  overflow: hidden;
}

.navbar a{
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover{
  background-color: var(--Tea-green);
  color: var(--Brunswick-green);
}


.navbar a.active, .navbar button.active{
  background-color: var(--Xanthous);
  color: var(--Brunswick-green);
}

.profile{
  float: right;
  text-decoration: none;
  font-size: 17px;
}

.profile button{
  margin: 0px;
  padding: 14px 16px;
  font-size: 17px;
  border-radius: 0px;
  color: var(--Xanthous);
  background-color: var(--Brunswick-green);
}

.profile > button:hover{
  background-color: var(--Tea-green);
  color: var(--Brunswick-green);
}


.profile:hover .dropdown-content {display: flex;}

button{
  background-color: #CCF3BA;
  border-radius: 16px;
  margin: 8px;
  padding: 8px;
  font-family: 'Roboto', 'sans-serif';
  border: 0px;
  cursor:pointer;
}

button:hover{
  background-color: var(--Xanthous);
}

.dropdown-content{
  position: absolute;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  flex-direction: column;
}

.dropdown-content a, .dropdown-content button{
  background-color: var(--Baby-powder);
  color: black;
  display: block;
  width: 100%;
}

.dropdown-content a:hover, .dropdown-content button:hover{
  background-color: var(--Xanthous) !important;
}

 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--Brunswick-green);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--Brunswick-green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

/*mobile friendly changes*/
@media (max-width: 600px) {
  .login-register-form, table {
    width: 95vw;         
    font-size: 20px;      
    padding: 12px;   
    margin: 2px;     
  }

  .addPlantsButtonsDesktop{
    display: none !important;
  }

  .addPlantsButtonsMobile{
    display: table-cell !important;
    width: max-content !important;
    column-span: 6 !important;
  }

  .login-register-form{
    max-width: 92vw;
  }

  table{
    font-size: 16px;
    table-layout: auto;
    word-wrap: break-word;
    max-width: 98vw; 
  };

  .searchbar{
    font-size: 12px;
    max-width: 80vw;
  }

  button{
    font-size: 16px;
  }
}