:root {
    --Melon: #FFA69E;
    --Brunswick-green: #0F433B;
    --Xanthous: #FFC759;
    --Tea-green: #CCF3BA;
    --Baby-powder: #fffffc;
  }


.login-register-form, table{
  padding: 8px;
  border-radius: 16px;
  width: 90%;
  max-width: 400px;
  background-color: var(--Brunswick-green);
  color: var(--Baby-powder);
  justify-self: center;
  align-self: center;
}

body{
  font-family: 'Roboto', 'sans-serif';
  display: flex;
  height: 95vh;
  background-color: var(--Xanthous);
}

a {
  color: var(--Xanthous);
}

caption{
  background-color: var(--Melon);
  color: var(--Brunswick-green);
}

.navbar{
  background-color: var(--Brunswick-green);
  color: var(--Baby-powder);
  overflow: hidden;
}

.navbar a{
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover{
  background-color: var(--Tea-green);
  color: var(--Brunswick-green);
}


.navbar a.active{
  background-color: var(--Xanthous);
  color: var(--Brunswick-green);
}

.navbar .profile{
  float: right;
}